* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
   background: radial-gradient(rgb(188, 188, 255), rgb(0, 0, 159));
}

.container {
   /* learned how to bring element to page center */
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: white;
   margin: 0;
   margin-bottom: 0.3rem;
   padding: 1.25rem;
   border-radius: 0.625rem;
   max-width: 59.3rem;
   border: none;
}

a {
   text-decoration: none;
}

.bold {
   font-weight: bold;
}

h4 {
   text-decoration: underline;
   font-weight: bolder;
   font-size: 1.21rem;
}

button {
   border: none;
   background-color: rgb(224, 224, 224);
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   border-radius: 0.37rem;
   margin-top: 0.5rem;
}

button:hover {
   background-color: rgb(76, 76, 76);
   color: white;
   font-weight: bold;
   cursor: pointer;
}

.btn-a {
   margin-left: 2.5rem;
}

.btn-b {
   margin-left: 0.31rem;
}

.bdg {
   text-decoration: none;
   padding: 0.62rem 0.9rem 0.62rem 0.9rem;
   color: rgb(87, 87, 239);
   border-radius: 1.56rem;
   background-color: rgb(239, 239, 255);
}

.bdg:hover {
   background-color: rgb(107, 107, 238);
   color: white;
   font-weight: bold;
   cursor: pointer;
   border: none;
   border-radius: 1.56rem;
   transition: .15s ease-in;
}

.desc {
   width: 70%;
   height: auto;
   text-align: justify;
}

.dp {
   display: inline-block;
   border-radius: 0.62rem;
   border: none;
   margin: 0;
   padding: 0;
}

.intro {
   height: 6.25rem;
   width: 18.75rem;
   display: inline-block;
   margin-left: 1.25rem;
}

.intro-text {
   margin: 0;
   /* padding: 0rem; */
   line-height: 2.06rem;
   max-width: 16.25rem;
}

.contact-btn {
   display: inline-block;
   margin-top: 1.06rem;
   margin-left: 0rem;
   text-decoration: none;
   padding: 0.62rem 11.81rem 0.62rem 11.81rem;
   color: rgb(87, 87, 239);
   border-radius: 1.56rem;
   background-color: rgb(239, 239, 255);
}

.contact-btn:hover {
   background-color: rgb(107, 107, 238);
   color: white;
   font-weight: bold;
   cursor: pointer;
   border: none;
   border-radius: 1.56rem;
}

.spec {
   font-weight: 300;
   font-size: 1.06rem;
}

.checkout {
   display: inline-block;
   margin-top: 0.62rem;
   text-align: center;
   justify-content: center;
   text-decoration: none;
   padding: 0.62rem 4.769rem 0.62rem 4.769rem;
   color: rgb(87, 87, 239);
   border-radius: 1.56rem;
   background-color: rgb(239, 239, 255);
}

.checkout:hover {
   background-color: rgb(107, 107, 238);
   color: white;
   font-weight: bold;
   cursor: pointer;
   border: none;
   border-radius: 1.56rem;
   transition: .15s ease-in;
}

.footer {
   color: white;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}

/* making the webpage responsive using media queriers */

/* @media screen and (max-width: 26.8rem) {
   .container {
      max-width: 25rem;
   }
} */