@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   /* outline: 0.0625rem solid red; */
}

/* dark theme resets */
:root {
   --website-bg-color-center-gradient: #181818;
   --website-bg-color: #181818;

   --bg-color: #1E1E1E;

   --body-text-color: #A1A1A1;

   --projects-btn: #1E1E1E;
   --projects-btn-text-color: #A1A1A1;
   --projects-btn-hover: #424242;

   --main-btn-text-color: #A1A1A1;
   --main-btn-text-color-hover: #1E1E1E;
   --main-btn-background-color: #1E1E1E;
   --main-btn-background-color-hover: #A1A1A1;

   --footer-text-color: #A1A1A1;
}

html {
   background: radial-gradient(var(--website-bg-color-center-gradient), var(--website-bg-color));
   color: var(--body-text-color);
}

/* toggle button for theme */
.toggle-btn {
   z-index: 10;
   position: fixed;
   top: 1.6rem;
   left: 1rem;
   transform: translate(-50%, -50%);
}

#checkbox {
   visibility: hidden;
}

.toggle-label {
   width: 3rem;
   height: 2rem;
   background-color: var(--main-btn-background-color);
   display: inline-block;
   position: relative;
   border-radius: 10rem;
}

.toggle-ball {
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
   background-color: var(--main-btn-text-color);
   display: inline-block;
   position: absolute;
   top: .26em;
   left: .26rem;

   transition: all .2s linear;
}

.toggle-ball img {
   height: 1.2rem;
   filter: invert(100%);

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#checkbox:checked+.toggle-label .toggle-ball {
   transform: translateX(1rem);
   background-color: black;
   border-color: black;
}

/* main styling of webpage */
.container1 {
   /* hero section */
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: var(--bg-color);

   margin: 0;
   margin-bottom: 0.3rem;

   padding: 1.25rem 1.25rem 1.25rem 1.25rem;

   max-width: 59.3rem;

   border: none;
   border-radius: 0rem;
}

/* implemented the text gradient effect on my name in dark mode */
.container1 #myname {
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   background-clip: padding-box;
   -webkit-background-clip: text;
   color: transparent;
}

/* styling hero section */
@keyframes dpFadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.dp {
   display: block;
   border-radius: 0rem;
   margin: 0;

   position: fixed;
   left: 85.9%;
   transform: translate(-50%, 0);

   margin-block: 0.0125rem;

   height: 15rem;
   width: 15rem;

   animation: dpFadeIn 0.5s ease-in forwards;
}

/* all other containers */
.container {
   /* bring containers to page center */
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: var(--bg-color);
   margin: 0;
   margin-bottom: 0.3rem;
   padding: 1.25rem 1.25rem 1.25rem 1.25rem;
   border-radius: 0rem;
   max-width: 59.3rem;
   border: none;
}

.edu {
   line-height: 2rem;
}

a {
   text-decoration: none;
}

ul {
   line-height: 1.5;
}

h4 {
   font-weight: 600 !important;
   font-size: 1.21rem;
}

button {
   border: none;
   background-color: var(--projects-btn);
   color: var(--projects-btn-text-color);
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   border: solid 0.05rem var(--projects-btn-text-color);
   margin-top: 0.5rem;

   border-radius: 0;

   transition: border-radius .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
   button:hover {
      background-color: var(--projects-btn-text-color);
      color: var(--website-bg-color);
      cursor: pointer;
      border-radius: 1rem;
   }
}

.bdg {
   text-decoration: none;
   padding: 0.62rem 0.9rem 0.62rem 0.9rem;
   color: var(--main-btn-text-color);
   border-radius: 0;
   background-color: var(--main-btn-background-color);
   border: solid 0.05rem var(--projects-btn-text-color);

   transition: border-radius .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
   .bdg:hover {
      background-color: var(--main-btn-background-color-hover);
      color: var(--main-btn-text-color-hover);
      cursor: pointer;
      border: none;
      border-radius: 1.56rem;
   }
}

.desc {
   width: 90%;
   text-align: justify;
}

.intro {
   height: fit-content;
   width: fit-content;
   display: inline-block;
   margin-left: .35rem;
}

.intro-text {
   margin: 0;
   line-height: 2.06rem;
   max-width: fit-content;
}

#intro {
   font-size: 1.1rem;
}

.contact-btn {
   display: block;
   margin-top: 1.06rem;
   margin-left: 0rem;

   text-decoration: none;

   width: 3.75rem;
   padding: 0.62rem 12.73rem 0.62rem 12.73rem;

   color: var(--main-btn-text-color-hover);
   background-color: var(--main-btn-background-color-hover);
   border: 0.0313rem solid var(--projects-btn-text-color);
   border-radius: 0;

   transition: border-radius .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
   .contact-btn:hover {
      background-color: var(--main-btn-background-color-hover);
      color: var(--main-btn-text-color-hover);
      cursor: pointer;
      border-radius: 1.56rem;
   }
}

.spec {
   font-weight: 300;
   font-size: 1.06rem;

   /* auto-typing span tag shows text gradient in dark mode */
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   background-clip: padding-box;
   -webkit-background-clip: text;
   color: transparent;
}

.checkout {
   display: inline-block;
   margin-top: 0.62rem;
   text-align: center;
   justify-content: center;
   text-decoration: none;
   padding: 0.62rem 4.30rem 0.62rem 4.30rem;
   color: var(--main-btn-text-color);
   background-color: var(--main-btn-background-color);
   border: solid 0.05rem var(--projects-btn-text-color);
   border-radius: 0;

   transition: border-radius .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
   .checkout:hover {
      background-color: var(--main-btn-background-color-hover);
      color: var(--main-btn-text-color-hover);
      cursor: pointer;
      /* border: none; */
      border-radius: 1.56rem;
   }
}

footer {
   color: var(--footer-text-color);
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}

/* project section accordian styles */
.project-bar {
   cursor: pointer;
}

.title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 0.9375rem;
   user-select: none;
   transition: background-color 0.2s ease;
}

.title.active {
   background-color: var(--main-btn-background-color-hover);
   color: var(--bg-color);
}

.icon {
   width: 1.25rem;
   height: 1.25rem;
   transition: transform .2s linear;
}

.icon.active {
   transform: rotateX(180deg);
}

.details {
   display: flex;
   gap: 1.875rem;

   max-height: 0;
   overflow: hidden;
   padding-block: 0;
   padding-inline: 0.9375rem;
   line-height: 1.5rem;

   transition: max-height 0.2s ease, padding-block 0.2s ease;
}

.details.active {
   padding-top: 1.875rem;
   padding-bottom: 1.875rem;
}

.poster {
   width: 62.5rem;
}

.poster iframe {
   width: 100%;
   aspect-ratio: 16/9;
}

.project-info {
   width: 75rem;
}

.project-info p {
   margin-top: 0;
   margin-bottom: 0.3125rem;
}

.btns {
   display: flex;
   align-items: center;
   justify-content: start;

   gap: 0.9375rem;
}

.btns a {
   text-decoration: none;
   color: var(--body-text-color);
   /* background-color: green; */
   text-align: center;
   padding: 0.5rem 0.5rem 0.5rem 0rem;
   font-size: 1.5625rem;
}

span.bold {
   font-weight: 600;
}

/* college project section */
.block {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 3.125rem;
   padding-inline: 1.25rem;
}

.about-the-project {
   width: 87.5rem;
}

.about-the-project p {
   margin: 0;
   margin-bottom: 0.5625rem;
   line-height: 1.4rem;
}

.picture img {
   width: 100%;
}

.all-links {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.125rem;

   position: relative;
   bottom: 2.2rem;

   font-size: 1.3rem;
   z-index: 2;
}

.all-links a {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   width: 2.1875rem;
   height: 2.1875rem;
   padding: 0.625rem;
   border: 0.125rem solid white;
   border-radius: 50%;
   background-color: var(--bg-color);
   color: white;
   transition: background-color, color 0.2s linear;
}

@media (hover: hover) and (pointer: fine) {
   .code:hover {
      background: linear-gradient(45deg, #211951, #836FFF, #15F5BA, #F0F3FF);
      color: black;
   }

   .preview:hover {
      background: linear-gradient(45deg, #059212, #06D001, #9BEC00, #F3FF90);
      color: black;
   }

   .video:hover {
      background: linear-gradient(45deg, #0C1844, #C80036, #FF6969, #FFF5E1);
      color: black;
   }

   .report:hover {
      background: linear-gradient(45deg, #050C9C, #3572EF, #3ABEF9, #A7E6FF);
      color: black;
   }
}

.team-icon {
   width: 9.375rem;
}

.team-info {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 0.625rem;
   margin-top: 1.5625rem;
}

.team-info p {
   margin-top: 0.875rem;
}

.tooltip {
   position: absolute;
   top: 3.3rem;
   font-size: 1rem;
   color: white;
   pointer-events: none;
}

/* making this page responsive for tablets */
@media (max-width: 64rem) {
   .container1 {
      max-width: 70%;
   }

   .container {
      max-width: 70%;
   }

   h4 {
      text-align: center;
   }

   /* styling the first container */
   #profile-pic {
      margin-bottom: .5rem;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);

      border-radius: 50%;
   }

   .dp {
      display: block;
      border-radius: 0.62rem;
      margin: 0;

      position: relative;
      left: 75%;
      top: 0;
      transform: translate(-50%, 0);

      transform: scale(1.3);

      height: 12.2rem;
      width: 12.2rem;
   }

   .intro {
      width: 100%;
      margin-left: 0;
   }

   .intro-text {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
   }

   .contact-btn,
   .checkout {
      padding: 0.625rem 1.25rem;
      text-align: center;
      width: 70%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
   }

   /* styling the second container */
   #intro {
      font-size: .99rem;
   }

   /* styling the third container */
   .desc {
      width: fit-content;
      text-align: left;
      font-size: 0.895rem;
   }

   /* styling the forth container */
   .btn-a,
   .btn-b {
      margin-bottom: 1.25rem;
      position: relative;
      left: 2%;
      transform: translate(-50%, 0);
   }

   #project-info {
      position: relative;
      left: 45%;
      transform: translate(-50%, 0);
      padding-inline: 0.5rem;
   }

   #sub-project-info {
      position: relative;
      left: 43%;
      transform: translate(-50%, 0);
   }

   /* styling the fifth container */
   #skills-name {
      position: relative;
      left: 43%;
      transform: translate(-50%, 0);
      margin-top: 0.4125rem;
      font-size: .859rem;
   }

   /* styling the sixth container */
   .bdg {
      display: block;
      margin-bottom: 0.625rem;
      text-align: center;
   }

   /* styling footer */
   .footer {
      text-align: center;
      font-size: .759rem;
   }

   /* accordian of projects */
   .details {
      font-size: 0.8125rem;
      line-height: 1.2rem;
   }

   .poster {
      width: 75rem;
   }

   .block {
      flex-direction: column-reverse;
      gap: 1.5625rem;
   }

   .about-the-project {
      width: 100%;
   }

   .team-info {
      margin-top: 0.9375rem;
   }
}

@media screen and (max-width: 48rem) {
   .project-info {
      width: 100%;
   }

   .details {
      flex-direction: column;
      gap: 0.625rem;

      max-height: 0;
      overflow: hidden;
      padding-block: 0;
      padding-inline: 0.9375rem;
      font-size: 1rem;
      line-height: 1.5rem;

      transition: max-height 0.2s ease, padding-block 0.2s ease;
   }

   .details.active {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
   }

   .poster {
      width: 100%;
   }

   .project-info p {
      margin-top: 0;
      margin-bottom: 0.625rem;
   }
}

/* making my webpage responsive for smartphones */
@media screen and (max-width: 37.5rem) {
   .container1 {
      max-width: 100%;
      /* border-radius: 0.625rem; */
   }

   .container {
      max-width: 100%;
      /* border-radius: 0.625rem; */
   }

   h4 {
      text-align: center;
   }

   /* styling the first container */
   #profile-pic {
      margin-bottom: .5rem;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);

      border-radius: 50%;
   }

   .dp {
      display: block;
      border-radius: 0.62rem;
      margin: 0;

      position: relative;
      left: 75%;
      top: 0;
      transform: translate(-50%, 0);

      transform: scale(1.3);

      height: 12.2rem;
      width: 12.2rem;
   }

   .intro {
      width: 100%;
      margin-left: 0;
   }

   .intro-text {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
   }

   .contact-btn,
   .checkout {
      padding: 0.625rem 1.25rem;
      text-align: center;
      width: 70%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
   }

   /* styling the second container */
   #intro {
      font-size: .99rem;
      text-align: center;
   }

   /* styling the third container */
   .desc {
      width: fit-content;
      text-align: left;
      font-size: 0.895rem;
   }

   #project-info {
      position: relative;
      left: 45%;
      transform: translate(-50%, 0);
   }

   #sub-project-info {
      position: relative;
      left: 43%;
      transform: translate(-50%, 0);
   }

   /* styling the fifth container */
   #skills-name {
      position: relative;
      left: 43%;
      transform: translate(-50%, 0);
      margin-top: 0.4125rem;
      font-size: .859rem;
   }

   /* styling the sixth container */
   .bdg {
      display: block;
      margin-bottom: 0.625rem;
      text-align: center;
   }

   /* styling footer */
   .footer {
      text-align: center;
      font-size: .759rem;
   }

   .toggle-btn {
      top: 1.5rem;
      left: 90%;
   }

   footer p {
      font-size: .7rem;
   }

   .about-the-project p {
      font-size: 0.9375rem;
   }

   .block {
      gap: 0.9375rem;
   }

   .all-links {
      gap: 1.875rem;
      bottom: 1.85rem;
      font-size: 1.2rem;
   }

   .all-links a {
      width: 1.25rem;
      height: 1.25rem;
      padding: 0.625rem;
      border: 0.0938rem solid white;
   }

   .tooltip {
      top: 2.2rem;
      font-size: 0.8rem;
   }
}

/* smaller phone screens */
@media screen and (max-width: 23.4375rem) {
   .all-links {
      gap: 1.125rem;
   }
}

@media screen and (max-width: 20rem) {
   footer p {
      font-size: .6rem;
   }

   .toggle-btn {
      top: 1.5rem;
      left: 88%;
   }

   .all-links {
      gap: 0.625rem;
   }
}