* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   margin: 0;
}
html{
   background-color: black;
}
.card{
   background-color: white;
   max-width: 33.4rem;
   padding: 1.56rem;
   border: 0.37rem solid yellow;
   border-radius: 0.93rem;
   margin-top: 1.25rem;

   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
}

.icon {
   height: 12.5rem;
   width: 12.5rem;
}

.info {
   border: none;
   background-color: rgb(255, 255, 255);
   border-radius: 1.87rem;

   cursor: pointer;

   /* learned how to align icon and the text next to it on same line */
   display: flex;
   align-items: center;

   margin: 0.5rem;
   padding: 0.93rem 1.56rem 0.93rem 1.56rem;
}

.detail {
   margin-left: 0.62rem;
}

img {
   height: 1.75rem;
}
.in-side{
   display: inline-block;
   margin: 0;
   position: fixed;
}