* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   margin: 0;
}

html {
   background-color: black;
}

.container {
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   display: flex;
   align-items: center;

   background-color: white;
   max-width: 33.4rem;
   padding: 1.56rem;
   border: 0.37rem solid yellow;
   border-radius: 0.93rem;
   margin-top: 1.87rem;
}

img {
   display: flex;
   align-items: center;
}

.text {
   max-width: 9.37rem;
   margin-right: 6.25rem;
}